.cards {
    display: flex;    
    width: 40%;
    border-radius: 20px;
    padding: 24px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
    margin: 1em 0;
    background-color: var(--verde-medio);
    box-sizing: border-box;
}

.cards label {
    font-weight: bold;
    font-size: 20px;
    
}

.cards img {
    width: auto;
    height: 150px;
    /* border: 6px solid var(--verde-escuro); */    
    box-sizing: border-box;    
}

.cards div {
    margin-left: 1em;
    text-align: center;
}

.cards p {
    margin-top: 1em;
}

.descricao {
    font-weight: 350;    
}

@media screen and (max-width: 900px) {
    .cards {
        width: 60%;
    }    
     
   .cards img {
    height: 100px;
   }   

}

@media screen and (max-width: 500px) {
    .cards {
        flex-direction: column;
        align-items: center;
        width: 80%;        
    }
    .cards img {
        margin-bottom: 1em;
    }
    .cards p {
        margin-top: 1em;
    }
}


