.cards {
    display: flex;    
    width: 60%;
    border-radius: 20px;
    padding: 24px 24px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
    margin: 1em 0;
    background-color: var(--verde-medio);
    box-sizing: border-box;
}

.cards img {
    width: 100px;
    border: 6px solid var(--verde-escuro);
    max-height: 100px;
    min-width: 100px;
    box-sizing: border-box;    
}

.cards div {
    margin-left: 1em;
}

.cards p {
    margin-top: 0.5em;
}

@media screen and (max-width: 900px) {
    .cards {
        width: 45%;
    }    
   .descricao {
    display: none;    
   }   
   .cards img {
    height: 100px;
   }   

}

@media screen and (max-width: 500px) {
    .cards {
        flex-direction: column;
        align-items: center;
        width: 80%;        
    }
    .cards img {
        margin-bottom: 1em;
    }
    .cards p {
        margin-top: 1em;
    }
}


