.TopoInicio h1 {
    text-align: center;
    font-size: 36px;
}

.TopoInicio article {
    padding: 1.1em 5em;
    font-size: 28px;
    text-align: center;
    color: var(--subtitulo-telainicio);
}

.TopoInicio h2 {
    text-align: center;
    font-size: 32px;
}

.TopoInicio strong {
    color: var(--escuro);
}

@media screen and (max-width: 1200px) {
    .TopoInicio h1 {
        font-size: 26px;
    }

    .TopoInicio article {
        font-size: 24px;
        padding: 1.8em 2em;
    }
}

@media screen and (max-width: 600px) {
    .TopoInicio h1 {
        font-size: 26px;
    }

    .TopoInicio article {
        font-size: 16px;
        padding: 1.8em 1.25em;
    }
}