.Menu {
    display: flex;
    justify-content: space-between;
    background-color: var(--verde-escuro);
    padding: 1em;
    align-items: center;
    font-family: 'Montserrat', sans-serif; 
    /* width: 100%; */
    box-sizing: border-box;
}

.Menu h2 {
    background-color: var(--vermelho-mapa);
    padding: 0.8em;
    border-radius: 25px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;     
}

.Menu section {
    display: flex;    
    justify-content: space-between;    
    width: 90%;
}

.Menu ul {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 850px) {
    .Menu section {        
        flex-direction: column;        
        margin: 0 30%;
    }
    .Menu ul {
        padding: 5px 0;
    }    
}





