.link {
    text-decoration: none;      
    font-weight: bold; 
    color: black;    
}

.linkDestacado {
    text-decoration: underline;
    text-decoration-color: var(--geral-hover);     
}

.link:hover {
    color: var(--geral-hover);
}
