.link {
    text-decoration: none;
    color: #000000;    
    font-weight: bold;      
}

.linkDestacado {
    text-decoration: underline;
    text-decoration-color: var(--vermelho);    
}

.link:hover {
    color: var(--vermelho);
}
