.link {
    text-decoration: none;      
    font-weight: bold; 
    color: var(--padrao);    
}

.linkDestacado {    
    color: var(--detalhes-e-hover);    
}

.link:hover {
    color: var(--detalhes-e-hover);
}
