.Rodape {
    display: flex;
    justify-content: space-around;
    background-color: var(--escuro);
    padding: 1em;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    /* width: 100%; */
}

.Rodape ul {
    display: flex;
    align-items: center;
}

.Rodape ul li {
    color: white;
}

.IconeEndereco {
    color: var(--icone-endereco);
}

.IconeTelefone {
    color: var(--icone-telefone);
}

.Rodape div {
    display: flex;
    align-items: center;
}

.Rodape a {
    text-decoration: none;
    color: white;
}

.location {
    color: var(--icone-mapa);
}

.linkedin {
    color: var(--icone-linkedin);
}

@media screen and (max-width: 750px) {
    .Rodape {
        flex-direction: column;        
    }
    .Rodape ul {        
        padding: 5px 0;
    }     
}
