.formulario {
    display: flex;
    justify-content: center;
    margin: 50px 0;
    background-color: var(--verde-claro);
    font-family: 'Montserrat', sans-serif;    
}

.formulario form {    
    background-color: var(--verde-medio);
    border-radius: 20px;
    padding: 36px 64px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
    min-width: 375px;
}

.formulario h2 {
    font-size: 24px;
    font-weight: bold;
}

.telefone {
    background-color: #FFFFFF;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    border: none;
    width: 100%;
    font-size: 24px;
    padding: 24px;
    box-sizing: border-box;
    border-radius: 20px;
}

.formulario label {
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
}

@media screen and (max-width: 600px) {
    .formulario form {
        padding: 36px 24px;
    }  
}