.Praticas {
    margin: 3em 1em;    
}

.Praticas div {
    display: flex;    
    justify-content: center;    
}

.Icone {
    color: var(--detalhes-e-hover);    
}

.Praticas div h2 {
    font-size: 32px;
    color: var(--escuro);
    font-weight: bold;
}

.Praticas nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5em 0;
}

.Praticas nav ul li {
    display: flex;      
}

.Praticas nav ul li h3 {
    font-size: 28px;
    color: var(--escuro);
}

