.TagsTutorial {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;    
    width: 70%;
}

.TagsTutorial li {
    background-color: var(--medio);
    padding: 14px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
}

.TagsTutorial li:hover {
    color: var(--detalhes-e-hover);
}

@media screen and (max-width: 1150px) {
    .TagsTutorial {
        width: 75%;
    }
}

@media screen and (max-width: 1150px) {
    .TagsTutorial {
        gap: 0.8em;
    }
}

@media screen and (max-width: 540px) {
    .TagsTutorial {
        flex-direction: column;
        width: 35%;        
    }
}






