.AdminAgendamentos {
    display: flex;
    flex-direction: column;      
    margin: 3em 1em;
}

@media screen and (max-width: 620px) {
    .AdminAgendamentos {            
        margin: 3em 0;
    }   
}