.AgendamentosDoDia {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3em;
    gap: 1em;
    
}

.AgendamentosDoDia h2 {
    font-size: 30px;
    font-weight: bold;
    color: var(--escuro);    
    text-align: center;
}

.AgendamentosDoDia div {
    margin-bottom: 15px;
}

.AgendamentosDoDia div label {
    font-size: 30px; 
    color: var(--escuro);     
}

.AgendamentosDoDia div input {
    font-size: 22px;
    border: none;
    border-radius: 20px;
    padding: 0.3em;
}

@media screen and (max-width: 780px) {       
    .AgendamentosDoDia div {     
        display: flex;     
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }    
    .AgendamentosDoDia div label {
        text-align: center;
    }
}
