.tags {
    display: flex;
    justify-content: space-between;
    padding: 0 2em;
}

.filtro li {
    display: flex;
    align-items: center;
}

.tags ul {
    display: flex;
    justify-content: space-around;    
}

.categorias {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 60%;
}

.categorias li {
    background-color: var(--verde-medio);
    padding: 14px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
}

.categorias li:hover {
    color: var(--vermelho-mapa);
}

@media screen and (max-width: 1150px) {
    .categorias {
        width: 75%;
    }
}

@media screen and (max-width: 910px) {
    .categorias {
        width: 100%;
    }
    .categorias li {
        margin: 0.2em 0;        
    }
    .filtro li {
        display: none;
    }
}





