.Inicio {
    padding: 3em 0;
}

.Inicio aside {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 3.5em 0;
}

.Inicio aside a {
    text-decoration: none;
    color: var(--escuro);
    font-weight: bold;
}

.Inicio section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1.5em;
}