.BotaoUpload {
    background-color: var(--escuro);
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 12px;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
    margin: 32px 0;
}

.BotaoUpload:hover {
    color: var(--vermelho-mapa);
}