.BotaoLogin {
    background-color: var(--detalhes-e-hover);
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 12px;
    border: none;
    cursor: pointer;
    color: var(--padrao);
    margin: 10px 0;    
}

.BotaoLogin:hover {
    background-color: var(--escuro);
    color: var(--detalhes-e-hover);
}