.Conhecimento {
    margin: 2em 0;
}

.Conhecimento ul li {
    display: flex;
    align-items: center;
    flex-wrap: wrap;   
    color: var(--escuro); 
    font-size: 20px; 
}

/* .Icone {
    color: var(--escuro);
} */


.Conhecimento ul li:hover {
    cursor: pointer;
    color: var(--detalhes-e-hover);
}

.Conhecimento ul li label:hover {
    cursor: pointer;
}

@media screen and (max-width: 500px) {       
     .Conhecimento ul li label {        
        width: 80%;
        padding: 0 1em;
     }
}


