.rodape {
    display: flex;
    justify-content: space-around;
    background-color: var(--escuro);
    padding: 1em;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    /* width: 100%; */
}

.rodape ul {
    display: flex;
    align-items: center;
}

.rodape div {
    display: flex;
    align-items: center;
}

.rodape a {
    text-decoration: none;
    color: #000000;
}

.location {
    color: var(--icone-mapa);
}

.linkedin {
    color: var(--icone-linkedin);
}

@media screen and (max-width: 750px) {
    .rodape {
        flex-direction: column;        
    }
    .rodape ul {        
        padding: 5px 0;
    }     
}
