.IdArte {
    background: url('../../../image/id/background.jpg') no-repeat right top;
    background-size: cover;
    
    width: 300px;
    height: auto;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    padding: 3em 0;
}

.IdArte div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.IdArte div img {
    width: 150px;
    height: auto;
    padding-bottom: 1em;    
}

.IdArte div h2 {
    font-weight: 400;
    font-size: 26px;
    text-align: center;
    color: var(--seu-nome-id);
    padding-bottom: 0.2em;
}

.IdArte div ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.IdArte div ul li {
    margin-bottom: 0.7em;    
}