.Fazer {
    width: 200px;
    height: 210px;
    background-color: var(--medio);
    margin: 0.5em 0;
    color: var(--padrao);    
}

.Fazer ul {
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
    gap: 0.5em;   
}

.Fazer p {
    padding: 0.5em 1.5em;    
}

.Fazer:hover {    
    box-shadow: var(--detalhes-e-hover) 0px 25px 50px -12px;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.025);
    transition: 0.18s;

    background-color: var(--medio);
    color: var(--detalhes-e-hover);
}