.CardInicio { 
    display: flex;   
    flex-direction: column;    
    justify-content: space-around;
    width: 250px;
    min-width: 250px;
    height: auto;
    box-sizing: border-box;
}

.CardInicio img {
    width: 100%;
    max-width: 100%;
    height: auto;     
}

.CardInicio h2 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-weight: bold;
    text-align: center;
    
}

.CardInicio p {
    text-align: center;
}