.BotaoConfirmarAgendamento {
    background-color: var(--verde-escuro);
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 12px;
    border: none;
    cursor: pointer;
    color: #FFFFFF;   
}

.BotaoConfirmarAgendamento:hover {
    color: var(--vermelho-mapa);
}