.Tutorial {
    margin-top: 1.5em;
}

.Tutorial li {
    display: flex;
    flex-direction: column;
    text-align: center;    
}

.Tutorial li label {
    font-size: 24px;
    margin-bottom: 0.8em;
    color: var(--escuro);
}

.Tutorial li a {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.Tutorial li a:hover {
    color: var(--padrao);
}
