.AdminProfessorLogado h2 {
    font-size: 32px;
    color: var(--escuro);
    font-weight: bold;
}

.AdminProfessorLogado form {
    display: flex;
    align-items: center;
    justify-content: flex-start;    
}

.AdminProfessorLogado form input {
    padding: 12px;
    font-size: 18px;
    cursor: pointer;
}

.AdminProfessorLogado h3 {
    font-size: 22px;
    color: var(--escuro);
}

.AdminProfessorLogado strong {
    color: var(--detalhes-e-hover);
}

