.BotaoPesquisar {
    background-color: var(--detalhes-e-hover);
    border: 2px solid var(--escuro);
    border-radius: 0px 20px 20px 0px;    
    color: var(--escuro);
}

.BotaoPesquisar:hover {
    cursor: pointer;
    background-color: var(--escuro);
    color: var(--padrao);
}